* {

}

html, body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: black;

    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
    background-color: #1F2937;

    color: white;
    max-height: 5%;
    display: flex;
    flex: 1 1 auto;
    padding: 0px 25px;
}

.logo {
    flex: 1 1 auto;
    margin-left: 0px;
    margin-right: auto;
}

.link-list {

    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
    margin-right: 0px;
    list-style: none;
}

.link {
    text-decoration: none;
    color: white;
}

/* Page body */

.page-body {
    background-color: white;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #1F2937;

    color: white;
    margin: 0px;
    padding: 20px 80px 20px;

    display: flex;
    align-items: center;
    gap: 20px;
}

.top-left {
    width: 50%;
}

.image-holder {
    background-color: #bbbcbe;
    width: 50%;
    height: 65%;
}

.middle {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 100px 20px;
}

.gallery {
    display: flex;
    gap: 0px;

}

.gallery-image {
    border: 3px #3882F6 solid;
    width: 100px;
    height: 100px;
}

.piece-description {
    text-align: center;
    max-width: 70%;
    font-size: 10px;
}

.gallery-piece {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bottom {
    background-color: #E5E7EB;

    margin: 0px;
    padding: 50px 120px;

    display: flex;
    flex-direction: column;
}

.quote {
    color: #3e4550;
    margin: 0px auto;
    font-size: medium;
    
}

.quote-author {
    margin-left: auto;
    margin-right: 0px;
    font-size: 14px;
}

.bottomer {
    background-color: #3882F6;

    color: white;
    display: flex;
    align-items: center;
    margin: 40px 80px;
    display: flex;
    padding: 20px 30px;
    gap: 15px;
}

.sign-up-text {
    color: white;
    margin-left: 0px;
    margin-right: auto;
}

/* Footer */

.footer {
    background-color: #1F2937;

    max-height: 5%;
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 0px;
}

.footer-copyright {
    flex: 1 1 auto;
    text-align: center;
    color: white;
    font-size: 10px;
}






.title {
    
}

.description {

}

.sign-up {
    padding: 5px 10px;
    background-color: #3882F6;
    color: white;
    border: 1px white solid;
}